body{
  width: 100%;
  background-color: #000;
  background-image: url("./images/back-to-future.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.site-form-style{
  margin-top: 36%;
}
.form-time-js{
  width: 100%;
  max-width: 300px;
}
.form-level-js{
  width: 100%;
  max-width: 300px;
}
.btn-welcome{
  text-align: center;
  max-width: 211px;
  width: 100%;
}
.form-btn-js{
  max-width: 100px;
  width: 100%;
}
.item-blok{
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  text-align: center;
  max-width: 220px;
  border: 1px solid #fff;
  box-shadow: 14px 6px 35px 20px rgba(0,0,0,0.1);
}
.select-item{
  box-shadow: 14px 6px 35px 20px rgba(0,0,0,0.1);
}
.item-show-anim{
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.item{
  width: 100%;
  max-width: 200px;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 14px 6px 35px 20px rgb(0 0 0 / 10%);
  border-radius: 10px;
}

.question-text-wrap{
  padding: 10px 0;
  box-shadow: 14px 6px 35px 20px rgba(0,0,0,0.1);
}
.modal-inner-wrap{
  display: none;
}
.modal-wrap-inner-show{
  display: block;
  width: 100%;
  background-color: #000;
  background-image: url("./images/back-to-future.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}
.youwin-img{
  width: 100%;
  max-width: 620px;
}
.modal-game-over{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 70%;
  height: 70vh;
  background-image: url("./images/Game\ Over.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.modal-game-over-show{
  display: block;
}
.modal-begin{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 49px;
  background-image: url("./images/back-to-future.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 11;
  transition: transform 0.5s ease;
}
.modal-welcome-show{
  transform: translateY(-100%);
}
.reset-btn{
  width: 100px;
  height: 100px;
  background-image: url("./images/replay.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.img-checked{
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: none;
}
.img-error{
  display: none; 
  position: absolute;
  bottom: 5px;
  right: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}